services:
    web:
        image: nginx
        volumes:
            - ./.docker/conf/nginx/default.conf:/etc/nginx/conf.d/default.conf
            - .:/var/www/
            - ./.docker/log/nginx:/var/log/nginx/
            - ./.docker/sert/:/etc/nginx/ssl/
        ports:
            - 80:80
        restart: always
        depends_on:
            - php
            - mysql
        networks:
            default:
                ipv4_address: 10.5.0.5
    php:
        build: .docker
        restart: always
        volumes:
            - ./.docker/conf/php/php.ini:/usr/local/etc/php/conf.d/php.ini
            - .:/var/www/
        #            - ./.docker/log/symfony:/var/www/var/log:cached
        extra_hosts:
            - "host.docker.internal:host-gateway"
        networks:
            default:
                ipv4_address: 10.5.0.6
    mysql:
        image: mariadb:10.6
        ports:
            - '3307:3306'
        volumes:
            - ./.docker/conf/mysql/db-data:/var/lib/mysql
            - ./.docker/conf/mysql/config:/etc/mysql/conf.d
            - ./.docker/log/mysql/:/var/lib/mysql/logs
            - ./.docker/conf/mysql/init:/docker-entrypoint-initdb.d
            - .:/var/www/
        environment:
            MYSQL_DATABASE: 'admin_core'
            MYSQL_ROOT_PASSWORD: 'password'
        restart: always
        networks:
            default:
                ipv4_address: 10.5.0.9

    phpmyadmin:
        image: phpmyadmin
        restart: always
        ports:
            - 8282:80
        environment:
            PMA_HOST: mysql
        networks:
            default:
                ipv4_address: 10.5.0.10

    elasticsearch:
        image: elasticsearch:9.3.0
        restart: always
        ports:
            - 9200:9200
#        volumes:
#            - .docker/conf/elasticsearch/bin/init-script.sh:/usr/local/bin/init-script.sh
#            - .docker/conf/elasticsearch/data/:/usr/share/elasticsearch/data/
        environment:
#            - ELASTIC_PASSWORD=$ELASTIC_PASSWORD
#            - KIBANA_PASSWORD=$KIBANA_PASSWORD
            - "discovery.type=single-node"
            - "xpack.security.http.ssl.enabled=false"
            - "xpack.security.enabled=false"
            - +ES_JAVA_OPTS=-Xms512m -Xmx512m"
        mem_limit: 1g
#        entrypoint: ["/bin/bash", "/usr/local/bin/init-script.sh"]
        networks:
            default:
                ipv4_address: 10.5.0.2

    kibana:
        image: kibana:8.14.1
        restart: always
        ports:
            - 5601:80
        volumes:
            - .docker/conf/kibana/data/:/usr/share/kibana/data/
        environment:
            - ELASTICSEARCH_URL=http://elasticsearch:9200
            - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
#            - ELASTICSEARCH_USERNAME=kibana_system
#            - ELASTICSEARCH_PASSWORD=$KIBANA_PASSWORD
            - "xpack.security.enabled=false"
        networks:
            default:
                ipv4_address: 10.5.0.3

    logstash:
        image: logstash:8.14.1
        restart: always
        ports:
            - 5044:5044
            - 9600:9600
#        volumes:
#            - .docker/conf/logstash/pipeline/:/usr/share/logstash/pipeline/
        networks:
            default:
                ipv4_address: 10.5.0.4

networks:
    default:
        ipam:
            config:
                - subnet: 10.0.0.0/10
                  gateway: 10.0.0.1
